name: Deploy to WordPress.org
on:
  release:
    types: [published]
jobs:
  build:
    name: New tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SVN
        run: sudo apt-get update && sudo apt-get install -y subversion

      - name: Install dependencies with caching
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--no-dev --optimize-autoloader --classmap-authoritative"

      - name: WordPress plugin deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        with:
          generate-zip: true
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: ${{github.workspace}}/${{ github.event.repository.name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
