input[name^="wp_noexternallinks_"]:read-only,
textarea[name^="wp_noexternallinks_"]:read-only {
    background: rgba(255,255,255,.5);
    border-color: rgba(222,222,222,.75);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
    color: rgba(51,51,51,.5);
}

div.list-tree,
div.list-tree ul,
div.list-tree li {
    position: relative;
}

div.list-tree > ul {
    margin: 0;
    padding-left: 20px;
}

div.list-tree li::before,
div.list-tree li::after {
    content: "";
    left: -12px;
    position: absolute;
}

div.list-tree li::before {
    border-top: 1px solid #b4b9be;
    height: 0;
    top: 12px;
    width: 8px;
}

div.list-tree li::after {
    border-left: 1px solid #b4b9be;
    height: 120%;
    top: -2px;
    width: 0;
}

div.list-tree ul > li:last-child::after {
    height: 14px;
}
